/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 20px 0 100px 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 20px 0;
}

img.logo {
	width: 10%;
	height: 10%;
	align-self: center;
}

section#subnav-content {
	display: flex;
	justify-content: center;
	padding: 50px 0;
	max-width: 100%;
	
}

div.ttb {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
}

.title-text {
	font-size: 6em;
	text-align: center;
}

.title-button {
	border: 2px solid black;
	padding: 10px;
	width: 400px;
	
}

.title-button p {
	font-size: 1em;
	text-align: center;
}

#subnav-content img {
	max-width: 100%;
	margin-left: 100px;
}


main {
	display: flex;
	flex-flow: column wrap;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 30px 0;
}

div.wrapper-one {
	display: flex;
	padding: 20px;

}

#features,
#about,
#services,
#product,
#vision {
	margin: 0 50px;
}


div.middle-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	
}

div.middle-img img {
	width: 90%;
	padding: 5% 2%;
}

div.wrapper-two {
	display: flex;
	padding: 20px;

}

section.contact {
	padding: 0 0 0 65px;
}
footer {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}

footer section.footer-text {
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
	margin: 20px;
}

/*services*/
div.svc-header-img {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

div.wrapper-two-svc {
	display: flex;
	padding: 50px 20px;
	flex-flow: row nowrap;
}

div.wrapper-two-svc section {
	background-color: rgba(204, 204, 204, 0.4);
	border: 5px solid rgba(169, 169, 169, 0.418);
	margin: 0 10px;
	padding: 20px;
}

div.service-facts {
	display: flex;
	padding: 50px 0;
}

div.svc-text {
	width: 50%;
	padding: 25px;
}

.serv-info-img {
	width: 50%;
}

footer.svc-footer {
	text-align: center;
}

section button.button {
	border: 2px solid black;
	width: 200px;
	height: 40px;
	margin: 20px 0;
}